.search{
    justify-content: center;
    align-items: center;
    
    margin-left: 35%;
    margin-right: 20%;
    padding-top: 2rem;
    
}
section{
    width: 100%;
    height: auto;
    overflow:visible;
  }
.inputsearch{
    width: 50%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.007);
    color: aliceblue;
    border-radius: 0.5rem;
    margin-top: 8rem;
    
}
.spinner{
    margin-left: 49%;
    margin-right: 49%;
    margin-top: 15%;
    margin-bottom: 25%;
}
h1{
    margin-top: 5rem;
}

.pages{

    padding: 2rem;
   
    justify-content: center;
    
}
#filterbutton{

    margin:1rem;
    
   position: inherit;
}
.imgo{
    width: 50%;
    border-radius: 2rem;
   margin-left: 23%;
   margin-right: 10%;
  height: 400px;
}

#light{
     .sectio{
        background-color: #FAF1E4;
    }
     #filterbutton{
        background-color: #E1B0AC;
        color: #434242;
    }
    .inputsearch{
        border-color: #E1B0AC;
    }

}

#dark{
     .sectio{
        background-color: #434242;
    }
     .inputsearch{
        border-color:#2272FF ;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    
    
    }

}





@media only screen and (max-width: 1024px) {
    #filterbutton{
        width: 1rem;
    }

}


